@model ProiectDAW.Models.Game

@{
    ViewBag.Title = "Game Details";
}

<h2>Details about this game</h2>

<div>
    <h4>A fun game, I'm sure!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit game", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Games", "Index")
</p>
