@model ProiectDAW.Models.Developer

@{
    ViewBag.Title = "Dev Details";
}

<h2>Developer / Publisher Details</h2>

<div>
    <h4>Check them out!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Dev List", "Index")
</p>
